<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4-desktop is-3-widescreen">

          <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: McDonalds" name="nombreEmpresa" #nombre="ngModel"
                [(ngModel)]="empresasModelPost.nombreEmpresa">
            </div>
          </div>

          <div class="field">
            <label class="label">Tipo de empresa</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: Restaurante" name="tipoEmpresa" #nombre="ngModel"
              [(ngModel)]="empresasModelPost.nombreEmpresa">
            </div>
          </div>


          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Ejemplo: hola@gmail.com" name="email" #nombre="ngModel"
              [(ngModel)]="empresasModelPost.nombreEmpresa">
            </div>
          </div>

          <div class="field">
            <label class="label">Contraseña</label>
            <p class="control">
              <input class="input" type="password" placeholder="Password" name="password" #nombre="ngModel"
              [(ngModel)]="empresasModelPost.nombreEmpresa">
            </p>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" (click)="postEmpresas()">Agregar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancelar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--  <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: McDonald's">
            </div>
            <label class="label">Tipo de empresa</label>
            <div class="select is-rounded">
              <select>
                <option>Rounded dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>

          <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: hola@gmail.com">
            </div>

            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="text" placeholder="">
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link is-light">Cancel</button>
              </div>
            </div> -->
