<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mynor</title>
    <link rel="stylesheet" >
</head>

<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
            </div>
        </div>

        <section class="banner contenedor">
            <section class="banner_title">
                <h2>Ver sucursales <br>tu empresa</h2>
                <a href="/login" class="llamanos">Login</a>
            </section>
            <div class="banner_img">
                <img src="../../../assets/Logo.png" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
</body>

</html>