
body {
	align-items: center;
	height: 100vh;
	place-items: center;
}

#boton{
	
  margin: 20px;
  background-color: #089bc7;
}

body, html {
   font-family: 'Roboto Slab', serif;
}



.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}





