<h1 class="title is-1" align="center">Registrar Sucursal</h1>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4-desktop is-3-widescreen">
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Ejemplo: McDonalds" name="nombre" #nombre="ngModel" [(ngModel)]="sucursalesModelPost.nombreSucursal">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Usuario</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Ejemplo: McDonalds123" name="usuario" #usuario="ngModel" [(ngModel)]="sucursalesModelPost.direccionSucursal">
                        </div>
                    </div>

                  
                    <div class="field">
                      <label class="label">vendido</label>
                      <div class="control">
                          <input class="input" type="text" placeholder="Ejemplo: McDonalds123" name="usuario" #usuario="ngModel" [(ngModel)]="sucursalesModelPost.vendido">
                      </div>
                  </div>

                  <div class="field">
                    <label class="label">vendido</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Ejemplo: McDonalds123" name="usuario" #usuario="ngModel" [(ngModel)]="sucursalesModelPost.idEmpresa">
                    </div>
                </div>

                <div class="field">
                  <label class="label">vendido</label>
                  <div class="control">
                      <input class="input" type="text" placeholder="Ejemplo: McDonalds123" name="usuario" #usuario="ngModel" [(ngModel)]="sucursalesModelPost.idMunicipio">
                  </div>
              </div>

              


          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" (click)="postSucursales()">Agregar</button>
            </div>
            <div class="control">
              <button class="button is-link is-light"  routerLink="/inicio">Cancelar</button>
            </div>
          </div>


                </div>
            </div>
        </div>
    </div>
</section>

<!--  <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: McDonald's">
            </div>
            <label class="label">Tipo de empresa</label>
            <div class="select is-rounded">
              <select>
                <option>Rounded dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>

          <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ejemplo: hola@gmail.com">
            </div>

            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="text" placeholder="">
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link is-light">Cancel</button>
              </div>
            </div> -->
