<section class="hero has-background-white-ter is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container" *ngFor="let empr of empresasModelGet">
      <div class="columns is-centered" >
        <div class="column is-4-desktop is-3-widescreen"  >

          <div class="col-lg-3 col-md-6 d-flex stat my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Nombre</h6>
              <h3 class="font-weight-bold">{{empr.nombre}}</h3>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex stat my-3">
            <div class="mx-auto">
              <h6 class="text-muted">Gmail</h6>
              <h3 class="font-weight-bold">{{empr.email}}</h3>
            </div>
          </div>

            <div class="col-lg-3 col-md-4 d-flex">
              <button class="btn btn-primary w-100 align-self-center" (click)="eliminarEmpresas()">Eliminar Empresas</button>
            </div>

            <div class="control">
              <button class="button is-link" routerLink="/inicio">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>




