<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/inicio">
      <span width="112" height="28" class="logo__nav">ADM</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item navbar__options has-text-success-light" routerLink="/eliminarEmpresa">
        Empresas
      </a>

      <a class="navbar-item has-text-success-light	navbar__options" routerLink="/agregarSucursales">
        Sucursales
      </a>

      <a class="navbar-item has-text-success-light navbar__options" routerLink="">
        Productos
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" routerLink="/agregarEmpresa">
            <strong>Registrarse</strong>
          </a>
          <a class="button is-light" routerLink="/login">
            Iniciar sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <-->
