@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap')

.navbar
  background-color: #FFBA00
  font-family: 'Karla', sans-serif

.navbar-link
  color: #0C3B2E
  border-radius: 12px

.button:hover
  transition: all 0.3s linear

.navbar-link:hover
  background-color: #FFBA00
  color:#29a381
  transition: all 0.4s linear

.navbar-dropdown
  background-color: #0C3B2E
  color: #FFBA00

.navbar-item
  color: #FFBA00

